name: Python Package using Conda

on:
  workflow_dispatch:
#   push:
#     branches:
#       - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.8

      - name: Install dependencies
        run: conda env update --file environment.yml --name API

      - name: Set up DVC
        uses: iterative/setup-dvc@v1

      - name: Pull DVC Data
        run: conda run -n API dvc pull census_data.csv.dvc

      - name: Lint with flake8
        run: |
          conda run -n API flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          conda run -n API flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: conda run -n API pytest