name: Python Package using Conda

on:
  workflow_dispatch:
#   push:
#     branches:
#       - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.12.8

      - name: Install dependencies
        run: conda env update --file environment.yml --name API

      - name: Lint with flake8
        run: |
          conda run -n API flake8 starter/hello.py tests/test_hello.py --count --select=E9,F63,F7,F82 --show-source --statistics
          conda run -n API flake8 starter/hello.py tests/test_hello.py --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: conda run -n API pytest